<!DOCTYPE HTML>
<html lang="en" ng-app="ngApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    <link rel="stylesheet" href="app/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/ionicons.min.css">

    <link rel="stylesheet" href="app/css/selectize.bootstrap3.min.css" />

    <link rel="stylesheet" href="app/js/ladda/dist/ladda-themeless.min.css">

    <link rel="stylesheet" href="app/css/custom.css">
</head>

<body ng-controller='mainCtrl'>

  <!-- Top navbar -->
  <nav class="navbar navbar-dark navbar-fixed-top" style="background-color: #4183D7;">

    <form class="form-inline">
      <div class="row">
        <div class="col-xs-8">
          <input type="text" class="form-control" placeholder="Search..." ng-model="searchEnv">
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary pull-xs-left" data-toggle="modal" data-target="#createEnvModal">
            Create
          </button>
        </div>
      </div>
    </form>
  </nav>

  <div id="main-container">

    <!-- Env listing -->
    <div class="list-group">
      <div class="list-group-item" ng-repeat="item in environments | filter:searchEnv | orderBy: 'prefix'">
        <span class="pull-xs-right">
          <button ng-click="launch_env(item)" type="button" class="btn btn-outline-success" data-toggle="tooltip" data-placement="bottom" title="Launch">
            <i class="icon ion-arrow-up-c" style="font-size:14px;"></i>
          </button>
          <button ng-click="getInfoModal(item)" type="button" class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom" title="Info">
            <i class="icon ion-information-circled" style="font-size:14px;"></i>
          </button>
          <button ng-click="removeEnvModal(item)" type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="bottom" title="Delete">
            <i class="icon ion-trash-b" style="font-size:14px;"></i>
          </button>
        </span>
        <h5>{{item.prefix}}</h5>
        <p style="color:#808080">{{item.version}}</p>
      </div>
    </div>

    <!-- Footer listing -->
    <nav class="navbar navbar-fixed-bottom navbar-light" id="footerBar">
      <button type="submit" class="btn btn-primary pull-xs-left" data-toggle="modal" data-target="#settingsModal">Settings</button>
      <button type="submit" class="btn btn-primary pull-xs-right" ng-click="quit()">Quit</button>
    </nav>
  </div>

  <!-- Create new env modal -->
  <div class="modal fade" id="createEnvModal" tabindex="-1" role="dialog" aria-labelledby="createEnvModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Create New Environment</h5>
        </div>
        <div class="modal-body">
          <form id="createEnvModalClear">
            <div class="form-group">
              <b>Environment name</b>
              <input type="text" class="form-control" id="envName" aria-describedby="Name" placeholder="Enter name..." ng-model="newEnvName">
            </div>
            <div class="form-group">
              <b>Python version</b>
              <select class="form-control" id="pythonVersion" ng-model="newEnvVersion">
                <option>3.5</option>
                <option>3.4</option>
                <option>2.7</option>
                <option>2.6</option>
              </select>
            </div>
            <div class="form-group">
              <b>Packages</b>
              <selectize config='newEnvPackagesConfig' options='installed' ng-model="newEnvPackages"></selectize>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clearForm()">Close</button>
          <button type="button" class="btn btn-primary" ladda="createLoading" ng-click="create_env(newEnvName, newEnvVersion, newEnvPackages)">Create</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Env info modal -->
  <div class="modal fade" id="envInfoModal" tabindex="-1" role="dialog" aria-labelledby="envInfoModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{getInfoName}}</h5>
        </div>
        <div class="modal-body">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Package</th>
                <th>Version</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pkg in getInfoPkgs | orderBy: 'name'">
                <td>{{pkg.name}}</td>
                <td>{{pkg.version}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Remove env modal -->
  <div class="modal fade" id="envDeleteModal" tabindex="-1" role="dialog" aria-labelledby="envDeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Remove environment</h4>
        </div>
        <div class="modal-body">
          <h5>Are you sure you would like to remove <b>{{removeEnvModalName}}</b>?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" ladda="removeLoading" ng-click="remove_env(removeEnvModalName)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Settings modal -->
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Settings</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-check">
              <h5 class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-modal="checkboxModel">  Start app at login</input>
                <small id="checkboxModelHelp" class="form-text text-muted">Conda-menu will be added as a system login items</small>
              </h5>
            </div>
            <hr>
            <div class="form-group row">
              <h5 class="col-sm-2 col-form-label">Default Command-line App</h5>
              <div class="col-sm-10">
                <div class="form-group">
                  <input type="file" class="form-control-file" id="launchWithApp" aria-describedby="launchWith" ng-modal="launchWithApp">
                  <small id="launchWithAppHelp" class="form-text text-muted">Default app is Terminal</small>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <h5 class="col-sm-2 col-form-label">Default Python Version</h5>
              <div class="col-sm-10">
                <p class="form-control-static">{{condaInfo.python_version}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <h5 class="col-sm-2 col-form-label">Conda-env Version</h5>
              <div class="col-sm-10">
                <p class="form-control-static">{{condaInfo.conda_env_version}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <h5 class="col-sm-2 col-form-label">Env Directories</h5>
              <div class="col-sm-10">
                <p class="form-control-static">{{condaInfo.envs_dirs[0]}}</p>
              </div>
            </div>
            <hr>
            <div class="form-group row">
              <h5 class="col-sm-2 col-form-label">Root Location</h5>
              <div class="col-sm-10">
                <p class="form-control-static">{{condaInfo.root_prefix}}</p>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="./node_modules/angular-route/angular-route.min.js"></script>

  <script type="text/javascript" src="app/js/ladda/dist/spin.min.js"></script>
  <script type="text/javascript" src="app/js/ladda/dist/ladda.min.js"></script>
  <script type="text/javascript" src="app/js/angular-ladda/dist/angular-ladda.min.js"></script>

  <script type="text/javascript" src="app/js/selectize.min.js"></script>
  <script type="text/javascript" src="app/js/angular-selectize.js"></script>

  <script type="text/javascript" src="app/js/tether.min.js"></script>
  <script type="text/javascript" src="app/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="app/app.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>

</body>
</html>
