@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #FCF7F8;
  color: #000;
}

#header {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
}

#container {
    width: 100%;
    position: fixed;
    top: 48px;
    bottom: 0;
    overflow: auto;
}

.modal-open{
  padding-right: 0px !important;
}

.h6, h6{
  font-size: 1.3rem;
}

i{
  font-size: 21px;
  display: inline-block;
}

.divider-right {
  border-right: 1.5px solid #F5F5F5;
  padding-right: 8px;
}

.divider-left {
  padding-left: 5px;
}

#navbar{
  background-color: #0267C1;
  z-index: 9;
  color:#F5F5F5;
}

.dropdown-toggle, .btn{
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
  outline: none !important;
}

.btn-primary{
  background-color: #0075C4;
  outline-color: #0075C4;
}

.gray-text {
  color: #808080
}

.close {
  color:#F5F5F5;
  opacity: 1;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.list-group {
  margin-bottom: 0px;
  z-index: 10;
}

.modal-body {
  padding-bottom: 5px;
}

.modal .modal-header {
  background-color: #5B616A;
  color: #ffffff;
  padding-top: 5px;
  border-radius: 0;
  padding-bottom: 5px;
  height: 45px;
}

.modal-footer{
  padding-top: 5px;
  padding-bottom: 10px;
}

.hidden {
  opacity: 0;
  z-index: -1 !important;
}

#dropoverlay {
  top: 0px;
  display: -ms-flexbox;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  padding-top: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
  color: white;
  background-color: #444444;
  transition: all 250ms;
}
