@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

html {
  box-sizing: border-box;
  font-size: 14px;
}


body {
  font-family: 'Lato', sans-serif;
  background-color: #FCF7F8;
  color: #000;
}

.modal-open{
  padding-right: 0px !important;
}

.h6, h6{
  font-size: 1.3rem;
}

i{
  font-size: 21px;
}

#navbar{
  background-color: #0267C1;
  z-index: 9;
  color:#F5F5F5;
}

.btn-primary{
  background-color: #0075C4;
  outline-color: #0075C4;
}

.gray-text {
  color: #808080
}

.close {
  color:#F5F5F5;
  opacity:1;
}

.btn:focus, .btn:active {
   outline: none !important;
}

.list-group {
  margin-top: 48px;
  margin-bottom: 0px;
  z-index: 10;
}

.modal-body{
  padding-bottom: 5px;
}

.modal-footer{
  padding-bottom: 5px;
  padding-top: 5px;
}

.modal .modal-header {
  background-color: #5B616A;
  color: #ffffff;
  padding-top: 5px;
  border-radius: 0;
  padding-bottom: 5px;
  height: 45px;
}

.hidden {
  opacity: 0;
  z-index: -1 !important;
}

#dropoverlay {
  top: 0px;
  display: -ms-flexbox;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  font-size: 2em;
  color: white;
  background-color: #444444;
  transition: all 250ms;
}
