@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font: 12px "Roboto", Helvetica, Arial, sans-serif;
}

body {
  background-color: #EEEEEE;
}

.hidden {
  opacity: 0;
  z-index: -1 !important;
}

#dropoverlay {
  display: -ms-flexbox;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1002;
  font-size: 2em;
  color: white;
  background-color: #112233;
  transition: all 5ms;
}

.list-group{
  margin-top: 40px;
  margin-bottom: 42px;
}

.dropdown-menu {
  min-width: 105px;
}

.navbar-fixed-bottom {
  background-color: #4183D7;
  z-index: 1001;
}

.navbar-fixed-top{
  background-color: #4183D7;
  z-index: 1001;
}

.list-group-item{
  padding-bottom: 0px;
}
